<!--Objectif Atelier 1-->
<div *ngIf="Atelier==1">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <b>Objectif de l'atelier 1</b>
        </mat-expansion-panel-header>
        <mat-panel-title>
            Le premier atelier vise à identifier l'objet de l'étude, les participants aux aleliers et le cadre temporel.
            Au cours de cet atelier, vous recensez les missions, valeurs métier et bien supports relatifs à l'objet étudié.
            Vous identifiez les évènements redoutés associés aux valeurs métier et évaluez la gravité de leurs impacts.
            Vous définissez également le socle de sécurité et les écarts.
        </mat-panel-title>
        <br>
        <mat-panel-description>
            L'atelier 1 permet de suivre une approche par "conformité", 
            correspondant aux deux premiers étages de la pyramide du management du risque numérique et d'aborder l'étude du point de vue de la "défense".
        </mat-panel-description>
    </mat-expansion-panel>
</div>
<!--Objectif Atelier 2-->
<div *ngIf="Atelier==2">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <b>Objectif de l'atelier 2</b>
        </mat-expansion-panel-header>
        <mat-panel-title>
            Dans le deuxième atelier, vous identifiez et caractériser les sources de risque (SR) et leurs objectifs de haut niveau, appelés objectifs visés (OV).
            Les couples SR/OV jugés les plus pertinents sont retenus au terme de cet atelier.
            Les résultats sont formalisés dans une cartographie des sources de risque.
        </mat-panel-title>
    </mat-expansion-panel>
</div>

<!--Objectif Atelier 3-->
<div *ngIf="Atelier==3">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <b>Objectif de l'atelier 3</b>
        </mat-expansion-panel-header>
        <mat-panel-title>
            Dans l’atelier 3, vous allez acquérir une vision claire de l’écosystème et établir une cartographie de menace numérique de celui-ci vis-à-vis de l’objet étudié.
            Ceci va vous permettre de bâtir des scénarios de haut niveau, appelés scénarios stratégiques.
            Ils représentent les chemins d’attaque qu’une source de risque est susceptible d’emprunter pour atteindre son objectif.
            Ces scénarios se conçoivent à l’échelle de l’écosystème et des valeurs métier de l’objet étudié. 
            Ils  sont  évalués  en  termes  de  gravité. 
            À  l’issue  de  cet  atelier,  vous  pouvez déjà définir des mesures de sécurité sur l’écosystème.
        </mat-panel-title>
    </mat-expansion-panel>
</div>

<!--Objectif Atelier 4-->
<div *ngIf="Atelier==4">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <b>Objectif de l'atelier 4</b>
        </mat-expansion-panel-header>
        <mat-panel-title>
            Le but de l’atelier 4 est de construire des scénarios techniques reprenant les modes opératoires susceptibles d’être utilisés par les sources de risque pour réaliser  les  scénarios  stratégiques.
            Cet atelier adopte une démarche similaire à celle de l’atelier précédent mais se concentre sur les biens supports critiques.
            Vous évaluez ensuite le niveau de vraisemblance des scénarios opérationnels obtenus.
        </mat-panel-title>
        <br>
        <mat-panel-description>
            Les ateliers 3 et 4 s’alimentent naturellement au cours d’itérations successives.
            <br>
            Les ateliers 2, 3 et 4 permettent d’apprécier les risques, 
            ce qui constitue le dernier étage de la pyramide du management du risque numérique.
            Ils sollicitent le socle de sécurité selon des axes d’attaque différents,
            pertinents au regard des menaces considérées et en nombre limité pour en faciliter l’analyse.
        </mat-panel-description>
    </mat-expansion-panel>
</div>


<!--Objectif Atelier 5-->
<div *ngIf="Atelier==5">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <b>Objectif de l'atelier 5</b>
        </mat-expansion-panel-header>
        <mat-panel-title>
            Le dernier atelier consiste à réaliser une synthèse de l’ensemble des risques étudiés en vue de définir une stratégie de traitement du risque.
            Cette dernière est ensuite déclinée en mesures de sécurité inscrites dans un plan d’amélioration continue.
            Lors de cet atelier, vous établissez la synthèse des risques résiduels et définissez le cadre de suivi des risques.
        </mat-panel-title>
    </mat-expansion-panel>
</div>
