<mat-card>
    <mat-card-title>To do list</mat-card-title>
    <div>
            <h3>Dashboard:</h3>
        <div>Il faut un bouton un bouton share fonctionnel pour les projets</div>
        <div>Il manque les notifications lors de modification de projet</div>
        <div>Il manque les tutoriels pour chaque méthode</div>
        <div>Il manque une page admin et des profils utilisateurs</div>
        <div>Il manque les logs et les mesures de sécurité</div>
        <div>Si une opération échoue (log) mettre un popup sinon rien (ou message sauvegarde effectué)</div>
        <div>regex pour les entrées, de manière a interdire des charactère aux utilisateurs</div>
        <div>Ajouter une card projet partagé</div>
        <div>Ajouter des boutons import / export fonctionnel</div>
        <div>Navbar dynamique en fonction du type de projet (select en entré?) (utiliser route? et créer une liste?)</div>
        <div>Modifier le dossier login</div>
    </div>
<br>
    <div>
            <h3>Ebiosrm11:</h3>
        
        <div>if isedit=true popup vos donnée ne seront pas sauvegardé si vous continuez, etes vous sur de vouloir continuer</div>
        <div>Corrigé suppression de frame</div>
        <div>/creteproj/project.service supprimer ou améliorer</div>
        <div>ajout de la nouvelle table acteur (en faire des tableaux)</div>         
    </div>
</mat-card>
